#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# the path of my.ini on Windows: C:\ProgramData\MySQL\MySQL Server 5.7\my.ini

!includedir /etc/mysql/conf.d/

[client]
# 若本地 mysql 客户端以非 localhost 连接 mysqld 时没有指定-P选项，则默认填写该端口
port=3306
socket=/tmp/mysql.sock

[mysqld]
# The number of the port on which the server listens for TCP/IP connections.
port=3306

# The MySQL server listens on one or more network sockets for TCP/IP connections.
# Each socket is bound to one address, but it is possible for an address to map onto multiple network interfaces.
bind_address=127.0.0.1

# The path name of the file in which the server writes its process ID.
pid_file=/var/run/mysqld/mysqld.pid

# On Unix platforms, this variable is the name of the socket file that is used for local client connections.
socket=/tmp/mysql.sock

# The path to the MySQL installation base directory.
basedir=/usr/local/mysql

# The path to the MySQL server data directory.
datadir=/usr/local/mysql/data

# The path name of the plugin directory.
plugin_dir=/usr/local/mysql/lib/plugin

# The error log output destination.
log_error=/usr/local/mysql/log/mysqld.err

# The servers default character set.
character_set_server=utf8mb4

# The default storage engine for tables.
default_storage_engine=InnoDB

# Whether the general query log is enabled.
general_log=ON
# The name of the general query log file.
general_log_file=/usr/local/mysql/log/mysqld.log

# This variable specifies the server ID.
server_id=1

# Whether the binary log is enabled.
#log_bin=ON
# Holds the base name and path for the binary log files.
#log_bin_basename=/usr/local/mysql/log/binlog
# Holds the base name and path for the binary log index file.
#log_bin_index=/usr/local/mysql/log/binlog.index

# Error: unknown variable 'log_bin_basename=/usr/local/mysql/log/binlog'.
log_bin=/usr/local/mysql/log/binlog

# Whether the slow query log is enabled.
slow_query_log=ON
# The name of the slow query log file.
slow_query_log_file=/usr/local/mysql/log/mysqld-slow.log
# If creating a thread takes longer than this many seconds,
# the server increments the Slow_launch_threads status variable.
slow_launch_time=2

# The minimum length of the word to be included in a MyISAM FULLTEXT index.
ft_min_word_len=1
